.navbar-collapse {
    justify-content: flex-end;
}

.header{
    background-image: url('images/headerback.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    }
    .overlay{
        background-color: transparent;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        left: 20;
        top: 20;
            }
    .header_content{
        position: absolute;
        top: 10%;
        padding: 2rem;
        margin: auto; 
        color: rgb(63, 3, 3);
        min-width: 100%;
    }
    
    .header_content h1{
        letter-spacing: 8px;
    }
    